{% extends "pykc/base.html.jinja" %}
{% block content %}
  <article id="reader-content">
    <p>This is the PyKC group's official website.</p>
    <p>There isn't much on this page because GrammAcc is bad at writing copy.</p>
  </article>
{% endblock %}
