{% extends "pykc/base.html.jinja" %}
{% block extra_head %}
  <script type="module" src="{{ make_url('/pykc/static/pages/members/list.mjs') }}"></script>
{% endblock %}
{% block content %}
  <div class="list-container">
    <section id="member-list" class="list-section">
    </section>
  </div>
{% endblock %}
