{% extends "pykc/base.html.jinja" %}
{% block extra_head %}
  <script type="module" src="{{ make_url('/pykc/static/pages/members/login.mjs') }}"></script>
  <meta name="discord-oauth-state" content="{{ oauth_nonce }}" />
{% endblock %}
{% block content %}
  {% if from_logout %}
    <p>Successfully logged out</p>
  {% endif %}
  <div id="member-login">
    {{ "member_moniker" | make_input("text", "Moniker") }}
    {{ "member_pw" | make_input("password", "Password") }}
    {{ "password_login" | make_submit("Login") }}
  </div>
  <button id="login-with-discord-btn" class="action-btn">Login with Discord</button>
{% endblock %}
